:root {
  box-sizing: border-box;
  --dark-blue: #1f2937;
  --lighter-grey: #f9faf8;
  --light-grey: #e5e7eb;
  --blue: #3882f6;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: var(--lighter-grey);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 28px;
  text-decoration: none;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

.navbar {
  background-color: var(--dark-blue);
  color: var(--lighter-grey);
  display: flex;
  justify-content: space-between;
}

.hero {
  background-color: var(--dark-blue);
  color: var(--lighter-grey);
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 100px;
}

.info {
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube {
  border: var(--blue) solid 4px;
  border-radius: 10px;
  height: 175px;
  width: 175px;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  padding: 1em;
}

.card-row {
  display: flex;
  justify-content: center;
  padding: 0px 50px 100px 50px;
  gap: 15px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
}

.quote {
  background-color: var(--light-grey);
  color: var(--dark-blue);
}

.quote-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}

.quote-author {
  align-self: flex-end;
}

.cta {
  color: var(--lighter-grey);
  display: flex;
  justify-content: center;
  padding: 6em 0 6em 0;
}

.cta-box {
  background-color: var(--blue);
  padding: 2em 10em 2em 10em;
  border-radius: 8px;
}

.footer {
  background-color: var(--dark-blue);
  color: var(--lighter-grey);
  display: flex;
  justify-content: center;
  padding: 3em;
}

.logo {
  font-size: 24px;
}

.landscape {
  height: auto;
  width: 480px;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero-text-section {
  padding-right: 16px;
}
.hero-text {
  font-size: 18px;
}

.button {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 30px 8px 30px;
  border-radius: 8px;
}

.hero-btn {
  border: none;
  background-color: var(--blue);
  color: var(--lighter-grey);
}

.cta-pad {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.cta-btn {
  border-color: var(--lighter-grey);
  color: var(--lighter-grey);
  background-color: var(--blue);
}

.cta-header {
  font-size: 24px;
  margin: 0;
}
